@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

.code-font {
    font-family: 'Fira Code', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.tab-btn.active {
    background-color: white;
    color: black;
    border-color: white;
}
